#####################################
####    THIS IS A CONFIG FILE    ####
#####################################
##
##  Blank lines or lines beginning with a "#" are ignored.
##
##  Double colons (::) are treated like a space.
##     This is sometimes useful for grouping (for example,
##     grouping strings like "reaction::sum::amplitudeName")
##
##  All non-comment lines must begin with one of the following keywords.
##
##  (note:  <word> means necessary 
##          (word) means optional)
##
##  include       <file>
##  define        <word> (defn1) (defn2) (defn3) ...
##  fit           <fitname>
##  keyword       <keyword> <min arguments> <max arguments>
##  reaction      <reaction> <particle1> <particle2> (particle3) ...
##  data          <reaction> <class> (arg1) (arg2) (arg3) ...
##  genmc         <reaction> <class> (arg1) (arg2) (arg3) ...
##  accmc         <reaction> <class> (arg1) (arg2) (arg3) ...
##  normintfile   <reaction> <file>
##  sum           <reaction> <sum> (sum2) (sum3) ...
##  amplitude     <reaction> <sum> <amp> <class> (arg1) (arg2) ([par]) ... 
##  initialize    <reaction> <sum> <amp> <"events"/"polar"/"cartesian">
##                  <value1> <value2> ("fixed"/"real")
##  scale         <reaction> <sum> <amp> <value or [parameter]>
##  constrain     <reaction1> <sum1> <amp1> <reaction2> <sum2> <amp2> ...
##  permute       <reaction> <sum> <amp> <index1> <index2> ...
##  parameter     <par> <value> ("fixed"/"bounded"/"gaussian") 
##                  (lower/central) (upper/error)
##    DEPRECATED:
##  datafile      <reaction> <file> (file2) (file3) ...
##  genmcfile     <reaction> <file> (file2) (file3) ...
##  accmcfile     <reaction> <file> (file2) (file3) ...
##
#####################################

reaction twopi Beam Proton Pi0 Pi0

# Sums
sum twopi hist2D

# Format of input:  twopi::sum_name::amp_name Hist2D input_filename histogram_name histogram_type particle_indices_for_mass 
#
# For this example:
#	input_filename = exampleHist2D.root
# 	histogram_name = MVsE
#	histogram_type = MassVsEgamma (only other option currently is MassVst)
# 	particle_indices_for_mass = 23 (generated mass distribution for two pi0s, particles 2 and 3, will come from histogram)

amplitude twopi::hist2D::example Hist2D exampleHist2D.root MVsE MassVsEgamma 23

initialize twopi::hist2D::example cartesian 1.0 0.0 
