#Run WHIZARD true/false
run_wo: true

#Process gamma e- > gamma e-, gamma e- > gamma gamma e-, gamma e- > e- e+e-, gamma > gamma e- e+e-  
#(gamma=a)
process: ae_to_FS

#Path to the lhe file location
lhe_dir: 

PhotonBeamLowEnergy: LOWE
PhotonBeamHighEnergy: HIGHE
ROOTFluxFile: FLUXFILE/Run_RUNMIN_RUNMAX_flux.root
ROOTFluxName: FLUXNAME