#Run WHIZARD true/false
run_wo: false

#Process gamma e- > gamma e-, gamma e- > gamma gamma e-, gamma e- > e- e+e-, gamma > gamma e- e+e-  
#(gamma=a)
process: ae_to_aae

#Path to the lhe file location
lhe_dir: /volatile/halld/home/ijaegle/qed_whizard/

#work flow name
workflow:

#Target: atomic number, molar mass g/mol, target density g/cm^3, target length cm 
target: 4.0 9.012182 1.85 1.77546

#Fill path to pair and triplet cross-sections
XS_pair: /work/halld/home/ijaegle/src/gluex/g4/halld_sim/src/programs/Simulation/gen_whizard/data/data_Be_pair.pl
XS_trip: /work/halld/home/ijaegle/src/gluex/g4/halld_sim/src/programs/Simulation/gen_whizard/data/data_Be_trip.pl