# This config file generates/fits b1(1235)->omega pi0 based on moment expansion used in Atkinosn's 1984 paper
#####################################
####	THIS IS A CONFIG FILE	 ####
#####################################
##
##  Blank lines or lines beginning with a "#" are ignored.
##
##  Double colons (::) are treated like a space.
##     This is sometimes useful for grouping (for example,
##     grouping strings like "reaction::sum::amplitudeName")
##
##  All non-comment lines must begin with one of the following keywords.
##
##  (note:  <word> means necessary 
##	    (word) means optional)
##
##  include	  <file>
##  define	  <word> (defn1) (defn2) (defn3) ...
##  fit 	  <fitname>
##  keyword	  <keyword> <min arguments> <max arguments>
##  reaction	  <reaction> <particle1> <particle2> (particle3) ...
##  data	  <reaction> <class> (arg1) (arg2) (arg3) ...
##  genmc	  <reaction> <class> (arg1) (arg2) (arg3) ...
##  accmc	  <reaction> <class> (arg1) (arg2) (arg3) ...
##  normintfile   <reaction> <file>
##  sum 	  <reaction> <sum> (sum2) (sum3) ...
##  amplitude	  <reaction> <sum> <amp> <class> (arg1) (arg2) ([par]) ... 
##  initialize    <reaction> <sum> <amp> <"events"/"polar"/"cartesian">
##		    <value1> <value2> ("fixed"/"real")
##  scale	  <reaction> <sum> <amp> <value or [parameter]>
##  constrain	  <reaction1> <sum1> <amp1> <reaction2> <sum2> <amp2> ...
##  permute	  <reaction> <sum> <amp> <index1> <index2> ...
##  parameter	  <par> <value> ("fixed"/"bounded"/"gaussian") 
##		    (lower/central) (upper/error)
##    DEPRECATED:
##  datafile	  <reaction> <file> (file2) (file3) ...
##  genmcfile	  <reaction> <file> (file2) (file3) ...
##  accmcfile	  <reaction> <file> (file2) (file3) ...
##
#####################################
# #set this argument to 0 with fit
define gen 1

# useful masses and widths
define 1p 1.23 0.22
define 1m 1.66 1.02
define zerom 1.23 0.14
define b1 1.235 0.142

define deltapp 1.232 0.100
keyword lowerVertex 4 6
lowerVertex deltapp Proton Pi+

#input parameters obtained through a Minuit fit on the data done by Amy Schertz (uncorrected for acceptance)
define amyuncorr 1p 307.4 1m 98.9 zerom 0.0 0.27 3.14 0.63 1.93 3.13 3.45 1.25 1.32 3.77 2.33 0.65 3.14 0.78

#define parameters
parameter dsratio 0.27

#1+ state
parameter m_1p 1.235
parameter w_1p 0.142
parameter n_1p 100.0
parameter phi0_1p 3.14
parameter theta_1p 0.63
parameter phip_1p 1.93
parameter phim_1p 3.13
parameter psi_1p 3.45

#1- state    
parameter m_1m 1.23
parameter w_1m 0.22
parameter n_1m 0.0
parameter phi0_1m 1.25
parameter theta_1m 1.32
parameter phip_1m 3.77
parameter phim_1m 2.33
parameter psi_1m 0.65

#0- state    
parameter m_0m 1.23
parameter w_0m 0.14
parameter n_0m 0.0
parameter phi0_0m 3.14
parameter theta_0m 0.78

#Using parameters as arguments
define pdgb1 [m_1p] [w_1p] [n_1p] [m_1m] [w_1m] [n_1m] [m_0m] [w_0m] [n_0m] [dsratio] [phi0_1p] [theta_1p] [phip_1p] [phim_1p] [psi_1p] [phi0_1m] [theta_1m] [phip_1m] [phim_1m] [psi_1m] [phi0_0m] [theta_0m]

fit omegapi

# some definitions for adjusting the beam polarization
define beamconfig beam.config
define angle 0
define fraction 1

reaction omegapi Beam Proton Pi- Pi0 Pi+ Pi- Pi+

# Sums
sum omegapi wdist

genmc omegapi ROOTDataReader genAmpToolsInputTree.root
accmc omegapi ROOTDataReader mcAmpToolsInputTree.root
data omegapi ROOTDataReader dataAmpToolsInputTree.root

#############################################################
#Using a beam config file
amplitude omegapi::wdist::alpha omegapiAngAmp amyuncorr gen beamconfig

#Fixed polarization angle and fraction
#amplitude omegapi::wdist::alpha omegapiAngAmp amyuncorr gen angle fraction

initialize omegapi::wdist::alpha cartesian 1.0 0.0
